$color-red: #d80032;
$color-black: #2b2d42;
$color-white: #fefefe;
$color-cyan: #41ead4;
$bg-color: #f6f9fa;
$color-pure-black: #000;

$border-radius-nm: 2.4rem;
$border-radius-md: 0.8rem;
$border-radius-sm: 0.4rem;

$border: 1px solid #2b2d42;

$box-shadow-1: 0px 6px 16px rgba(0, 0, 0, 0.11);
